<template>
  <div class="card" @click="$router.push({ name: 'Acteur', params: { id: actor.id } })">
    <img :src="`https://www.themoviedb.org/t/p/w300_and_h450_bestv2${actor.profile_path}`" :alt="actor.name" />
    <h3>{{ actor.name }}</h3>
  </div>
</template>

<script lang="ts">
export default {
  name: 'ActorCard',
  props: ['actor'],
};
</script>
