<template>
  <div class="header" @click="$emit('openBox', latest.id)">
    <img v-if="latest.backdrop_path" src="@/assets/images/doctor-strange-2.webp" :alt="latest.original_title" />
    <img v-else src="@/assets/images/nobackdrop.webp" alt="" />
    <div class="section-desc">
      <h3 class="title">{{ latest.title }}</h3>
      <p class="desc">{{ latest.overview }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomepageHeader',
  props: ['latest'],
};
</script>

<style lang="scss" scoped>
.header {
  width: 99%;
  height: 80%;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    opacity: 0.8;
  }
}
.section-desc {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0 8px 8px 0;
  transform: translateY(-101%);
  width: 700px;
  overflow: hidden;
  padding: 20px;
  height: 336px;
}
.title {
  font-size: 3rem;
  color: white;
  transform: scale(1, 1.1);
  font-family: 'Libre Franklin', sans-serif;
}

.desc {
  font-size: $text-medium;
  margin-top: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>
