<template>
  <carousel perPage="5" autoplay loop paginationSize="0" autoplayTimeout="5000" speed="2000">
    <slide v-for="movie in movies.results" :key="movie.id">
      <img
        v-if="movie.backdrop_path"
        :src="`https://image.tmdb.org/t/p/w500${movie.backdrop_path}`"
        :alt="movie.original_title" />
      <img v-else src="@/assets/images/nobackdrop.webp" alt="" />
      <p @click="$emit('openBox', movie.id)">{{ movie.title }}</p>
    </slide>
  </carousel>
</template>

<script lang="ts">
import { Carousel, Slide } from 'vue-carousel';
export default {
  name: 'MoviesCarousel',
  props: ['movies'],
  components: {
    Carousel,
    Slide,
  },
};
</script>

<style lang="scss" scoped>
.VueCarousel {
  width: 100%;

  &-slide {
    width: 500px;
    height: auto;
    text-align: left;
    cursor: pointer;
    &:hover {
      img {
        opacity: 0.6;
      }
    }

    img {
      width: 96%;
      border-radius: 5px;
      transition: 0.4s;
    }
    p {
      width: 96%;
      margin: 0 0 -40px 0;
      font-weight: bold;
      padding: 11.5px 12px 9.5px 12px;
      border-radius: 0 0 5px 5px;
      transform: translateY(-110%);
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}
</style>
