<template>
  <div class="card" @click="$emit('openBox', movie.id)">
    <img v-if="movie.poster_path" :src="`https://image.tmdb.org/t/p/w500${movie.poster_path}`" alt="" />
    <img v-else src="@/assets/images/noposter.webp" alt="" />
    <p>{{ movie.title }}</p>
  </div>
</template>

<script lang="ts">
export default {
  name: 'MovieCard',
  props: ['movie'],
};
</script>
