<template>
  <div class="movie">
    <div class="movie__content">
      <img
        v-if="movie.backdrop_path"
        :src="`https://image.tmdb.org/t/p/w500${movie.backdrop_path}`"
        :alt="movie.original_title" />
      <img v-else src="@/assets/images/nobackdrop.webp" alt="" />
      <h2>
        {{ movie.title }}
        <section>
          <ion-icon v-if="fav" name="heart-dislike-outline" @click="favs()"></ion-icon>
          <ion-icon v-else name="heart-outline" @click="favs()"></ion-icon>
          <ion-icon name="close-outline" @click="$emit('closeBox')" class="close"></ion-icon>
        </section>
      </h2>
      <div class="movie__content--details">
        <section>
          <p><b>Date de sortie :</b> {{ movie.release_date }}</p>
          <p><b>Note :</b> {{ movie.vote_average }}/10</p>
        </section>
        <p>{{ movie.overview }}</p>
        <p class="movieActors">
          <b>Acteurs :</b>
          <span v-for="actor in credits.slice(0, 10)" :key="actor" @click="goToActor(actor.id)">
            {{ actor.original_name }},
          </span>
        </p>
        <p>
          <b>Produit par :</b>
          <span v-for="company in movie.production_companies" :key="company.name">{{ company.name }}, </span>
        </p>
        <p class="genres">
          <b>Genres :</b> <span v-for="genre in movie.genres" :key="genre.name">{{ genre.name }}, </span>
        </p>
        <h3>Films similaires</h3>
        <div class="movie__content--similar">
          <div
            class="movieCard"
            v-for="movie in similars"
            :key="movie.id"
            @click="(fetchedMovieId = movie.id), fetchMovie()">
            <img :src="`https://image.tmdb.org/t/p/w500${movie.backdrop_path}`" :alt="movie.original_title" />
            <p>{{ movie.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'MovieBox',
  props: ['movieId'],
  data() {
    return {
      fetchedMovieId: '',
      movie: {},
      credits: {},
      similars: {},
      fav: false,
    };
  },
  methods: {
    async fetchMovie() {
      this.movie = await this.$movies.fetchOne(this.fetchedMovieId);
      this.credits = await this.$movies.fetchCredits(this.fetchedMovieId);
      this.similars = await this.$movies.fetchSimilar(this.fetchedMovieId);
      localStorage.getItem('dmpdm_favs') ? null : localStorage.setItem('dmpdm_favs', '[810693]');
      localStorage.getItem('dmpdm_favs') === '[]' ? localStorage.setItem('dmpdm_favs', '[810693]') : null;
      const favs = JSON.parse(localStorage.getItem('dmpdm_favs'));
      favs.indexOf(this.movieId) > -1 ? (this.fav = true) : (this.fav = false);
    },
    goToActor(id) {
      this.$router.push({ name: 'Acteur', params: { id: id } });
      this.$route.name === 'Acteur' ? location.reload() : null;
    },
    favs() {
      var favs = JSON.parse(localStorage.getItem('dmpdm_favs'));
      favs.indexOf(this.fetchedMovieId) > -1
        ? ((favs = favs.filter((e: string) => e !== this.fetchedMovieId)), (this.fav = false))
        : (favs.push(this.fetchedMovieId), (this.fav = true));
      localStorage.setItem('dmpdm_favs', JSON.stringify(favs));
    },
  },
  async mounted() {
    this.fetchedMovieId = this.movieId;
    this.fetchMovie();
  },
};
</script>

<style lang="scss" scoped>
.movie {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);

  &__content {
    width: 600px;
    height: 720px;
    padding: 0 0 40px 0;
    border-radius: 10px;
    text-align: left;
    background-color: #1d1d1d;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 2);

    img {
      width: 100%;
      height: 320px;
      opacity: 0.85;
      border-radius: 10px 10px 0 0;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
    }

    h2 {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      section {
        transform: translateY(-290px);
        display: flex;
        align-items: center;
      }
    }

    &--details {
      padding: 0 15px 0 20px;
      overflow-y: scroll;
      height: 44%;
      section {
        display: inline-flex;
        margin: 10px 0 30px 0;
        p {
          margin: 0 20px 0 0;
        }
      }
      .movieActors,
      .genres {
        margin: 20px 0;
        span:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    h3 {
      margin: 3vh 0 1vh 0;
    }

    &--similar {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      height: auto;

      .movieCard {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 48.5%;
        height: auto;
        margin: 0 0 -25px 0;
        cursor: pointer;
        &:hover {
          img {
            opacity: 0.6;
          }
        }
        img {
          width: auto;
          height: 80%;
          border-radius: 5px;
          transition: 0.4s;
        }
        p {
          width: 100%;
          font-weight: bold;
          padding: 11.5px 12px 9.5px 12px;
          border-radius: 0 0 5px 5px;
          transform: translateY(-100%);
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }

    ion-icon {
      padding: 5px;
      font-size: $text-x-large;
      border-radius: 50%;
      transition: 0.4s;
      z-index: 10;
      &.close {
        padding: 0;
        margin: 0 0 0 10px;
        font-size: $text-larger;
        &:hover {
          transform: rotate(180deg);
        }
      }
      &:hover {
        cursor: pointer;
        transform: scale(1.03);
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
</style>
