// Main style here

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  width: 100%;
  text-align: left;
  margin: 0 0 20px 0;
  transform: scale(1, 1.1);
  font-family: 'Libre Franklin', sans-serif;
  &.title {
    color: $color--secondary;
  }
}

h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $text-small;
  font-weight: normal;
  margin: auto;
  text-align: center;

  div {
    margin: 0 0 0 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-top: 2px solid $color--primary;
    animation: spin 0.8s infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}

.main-view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 100px 0 0 0;
  padding: 0 20px 0 50px;
  height: calc(100vh - 100px);
}

.recos,
.actors,
.favoris {
  @extend .main-view;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  max-height: calc(100vh - 100px);
  padding: 0 20px 0 50px;
  overflow-y: scroll;

  h2 {
    margin: 30px 0;
  }
}

.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 12.5%;
  min-width: 150px;
  margin: 0 1.7% 0 0;
  cursor: pointer;
  &:hover {
    img {
      opacity: 0.6;
    }
  }
  img {
    width: auto;
    height: 80%;
    border-radius: 8px;
    transition: 0.4s;
  }
  p,
  h3 {
    width: 100%;
    font-weight: bold;
    padding: 11.5px 12px 9.5px 12px;
    border-radius: 0 0 5px 5px;
    transform: translateY(-100%);
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: -20px 0 30px 0;

  ion-icon {
    margin: 2px 0 0 0;
    font-size: $text-larger;
    color: $color--primary;
    cursor: pointer;
  }

  b {
    color: $color--primary;
  }
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  height: calc(100vh - 80px);
  margin: -1% 0 0 0;
  padding: 20px 40px 20px 40px;
  text-align: left;
  background-color: $color--bg;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.content {
  width: calc(100% - 280px);
  margin: 0 0 0 280px;
  padding: 10px 40px;
}
