// COLORS
$color--content: #fefefe;
$color--primary: #e50913;
$color--secondary: #b20710;
$color--bg: #151515;

// TEXT - SIZES
$text-xx-smaller: 13px;
$text-x-smaller: 14px;
$text-smaller: 15px;
$text-xx-small: 16px;
$text-x-small: 17px;
$text-small: 18px;
$text-medium: 19px;
$text-normal: 21px;
$text-large: 22px;
$text-x-large: 25px;
$text-xx-large: 28px;
$text-larger: 30px;
$text-x-larger: 32px;
$text-xx-larger: 35px;
