<template>
  <div class="profile">
    <MovieBox v-if="movieId" :movieId="movieId" @closeBox="closeBox" />
    <div class="sidebar">
      <h1>{{ actor.name }}</h1>
      <img
        v-if="actor.profile_path"
        :src="`https://www.themoviedb.org/t/p/w600_and_h900_bestv2${actor.profile_path}`"
        :alt="actor.name" />
      <p><b>Né le :</b> {{ actor.birthday }}</p>
      <p v-if="actor.deathday"><b>Décédé le :</b> {{ actor.deathday }}</p>
      <p>
        <b>Lieu de naissance :</b><br />
        {{ actor.place_of_birth }}
      </p>
      <p><b>Connu pour: </b> {{ actor.known_for_department }}</p>
      <a v-if="actor.homepage" :href="actor.homepage">Voir plus</a>
    </div>
    <div class="content">
      <h2>Biographie</h2>
      <p class="content--biography">{{ actor.biography }}</p>
      <div class="content--movies">
        <h2>Films</h2>
        <MovieCard v-for="movie in movies" :key="movie.id" :movie="movie" @openBox="openBox" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import MovieCard from '@/components/movies/MovieCard.vue';
import MovieBox from '@/components/movies/MovieBox.vue';

export default {
  name: 'ActorProffile',
  components: {
    MovieCard,
    MovieBox,
  },
  data() {
    return {
      actor: {},
      movies: [],
      movieId: '',
    };
  },
  methods: {
    openBox(movieId: string) {
      this.movieId = movieId;
    },
    closeBox() {
      this.movieId = null;
    },
  },
  async mounted() {
    this.actor = await this.$actors.fetchOne(this.$route.params.id);
    this.movies = await this.$actors.fetchMovies(this.$route.params.id);
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    this.movies.sort((a: any, b: any) => (a.popularity < b.popularity ? 1 : b.popularity < a.popularity ? -1 : 0));
    this.movies.splice(14);
  },
};
</script>

<style lang="scss" scoped>
.profile {
  @extend .main-view;
  padding: 0;

  .sidebar {
    img {
      width: 200px;
      margin: 20px 0;
      border-radius: 4px;
    }
    p {
      margin: 10px 0;
    }
    a {
      color: $color--content;
      transition: 0.2s;
      &:hover {
        color: $color--primary;
      }
    }
  }

  .content {
    &--movies {
      display: flex;
      flex-wrap: wrap;
      margin: 40px 0 0 0;
    }
  }
}
</style>
