<template>
  <div class="actors">
    <h2>Personnalités populaires</h2>
    <h5 v-if="loader">
      Chargement
      <div></div>
    </h5>
    <ActorCard v-for="actor in actors" :key="actor.id" :actor="actor" />
    <div v-if="!loader" class="pagination">
      <ion-icon name="caret-back-outline" @click="page--, sort()"></ion-icon>
      <p>
        Page <b>{{ page }}</b> sur {{ totalPages }}
      </p>
      <ion-icon name="caret-forward-outline" @click="page++, sort()"></ion-icon>
    </div>
  </div>
</template>

<script lang="ts">
import ActorCard from '@/components/actors/ActorCard.vue';
export default {
  name: 'ActorsList',
  components: {
    ActorCard,
  },
  data() {
    return {
      actors: {},
      page: 1,
      totalPages: 1,
      loader: false,
    };
  },
  methods: {
    async sort() {
      this.page < 1 ? (this.page = 1) : null;
      this.page > this.totalPages ? (this.page = this.totalPages) : null;
      const actorsList = await this.$actors.fetchAll(this.page);
      this.actors = actorsList.results;
      this.totalPages = actorsList.total_pages;
    },
  },
  async mounted() {
    this.loader = true;
    await this.sort();
    this.loader = false;
  },
};
</script>
