<template>
  <div class="favoris">
    <MovieBox v-if="movieId" :movieId="movieId" @closeBox="closeBox" />
    <h2>Vos films favoris...</h2>
    <p v-if="!movies.length">Aucun film à afficher pour le moment.</p>
    <MovieCard v-for="movie in movies" :key="movie.id" :movie="movie" @openBox="openBox" />
  </div>
</template>

<script lang="ts">
import MovieCard from '@/components/movies/MovieCard.vue';
import MovieBox from '@/components/movies/MovieBox.vue';

export default {
  name: 'FavorisPage',
  components: {
    MovieCard,
    MovieBox,
  },
  data() {
    return {
      movies: [],
      movieId: '',
    };
  },
  methods: {
    openBox(movieId: string) {
      this.movieId = movieId;
    },
    closeBox() {
      this.movieId = null;
    },
  },
  async mounted() {
    const favs = JSON.parse(localStorage.getItem('dmpdm_favs'));
    for (let fav = 0; fav < favs.length; fav++) {
      const movie = await this.$movies.fetchOne(String(favs[fav]));
      this.movies.push(movie);
    }
  },
};
</script>
