<template>
  <div class="home">
    <HomepageHeader :latest="latest" @openBox="openBox" />
    <MovieBox v-if="movieId" :movieId="movieId" @closeBox="closeBox" />
    <h2>Les plus populaires</h2>
    <Carousel :movies="popular" @openBox="openBox" />
    <h2>Ils arrivent bientôt...</h2>
    <Carousel :movies="upcoming" @openBox="openBox" />
    <h2>TOP 10</h2>
    <Carousel :movies="toprated" @openBox="openBox" />
  </div>
</template>

<script lang="ts">
import Carousel from '@/components/movies/MoviesCarousel.vue';
import MovieBox from '@/components/movies/MovieBox.vue';
import HomepageHeader from '@/components/movies/HomepageHeader.vue';

export default {
  name: 'HomePage',
  components: {
    Carousel,
    MovieBox,
    HomepageHeader,
  },
  data() {
    return {
      popular: {},
      upcoming: {},
      toprated: {},
      latest: {},
      movieId: '',
    };
  },
  methods: {
    openBox(movieId: string) {
      this.movieId = movieId;
    },
    closeBox() {
      this.movieId = null;
    },
  },
  async mounted(): Promise<void> {
    this.popular = await this.$movies.fetchPopulars();
    this.upcoming = await this.$movies.fetchUpcomming();
    this.toprated = await this.$movies.fetchTopRated();
    this.latest = await this.$movies.fetchOne('453395');
    this.toprated.results.splice(10);
  },
};
</script>

<style lang="scss" scoped>
.home {
  @extend .main-view;
  h2:first-child {
    margin: 30px 0 20px 0;
  }
}
</style>
