<template>
  <div class="movies">
    <MovieBox v-if="movieId" :movieId="movieId" @closeBox="closeBox" />
    <div class="sidebar">
      <span
        v-for="oneGenre in genres"
        :key="oneGenre.id"
        @click="(currentGenre = oneGenre), (page = 1), sort()"
        :class="{ currentGenre: currentGenre.name === oneGenre.name }">
        {{ oneGenre.name }}
      </span>
    </div>
    <div class="content">
      <h5 v-if="loader">
        Chargement
        <div></div>
      </h5>
      <MovieCard v-for="movie in movies" :key="movie.id" :movie="movie" @openBox="openBox" />
      <div v-if="!loader" class="pagination">
        <ion-icon name="caret-back-outline" @click="page--, sort()"></ion-icon>
        <p>
          Page <b>{{ page }}</b> sur {{ totalPages }}
        </p>
        <ion-icon name="caret-forward-outline" @click="page++, sort()"></ion-icon>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import MovieCard from '@/components/movies/MovieCard.vue';
import MovieBox from '@/components/movies/MovieBox.vue';

export default {
  name: 'MoviesPage',
  components: {
    MovieCard,
    MovieBox,
  },
  data() {
    return {
      movies: {},
      currentGenre: {},
      movieId: '',
      genres: [],
      page: 1,
      totalPages: 0,
      loader: false,
    };
  },
  methods: {
    async sort() {
      this.page < 1 ? (this.page = 1) : null;
      this.page > this.totalPages ? (this.page = this.totalPages) : null;
      const movies = await this.$genres.fetchMovies({ page: this.page, genre: this.currentGenre.id });
      this.movies = movies.results;
      this.totalPages = movies.total_pages;
    },
    openBox(movieId: string) {
      this.movieId = movieId;
    },
    closeBox() {
      this.movieId = null;
    },
  },
  async mounted(): Promise<void> {
    this.loader = true;
    this.genres = await this.$genres.fetchGenres();
    const movies = await this.$genres.fetchMovies({ page: this.page, genre: this.genres[0].id });
    this.movies = movies.results;
    this.totalPages = movies.total_pages;
    this.currentGenre = this.genres[0];
    this.loader = false;
  },
};
</script>

<style lang="scss" scoped>
.movies {
  @extend .main-view;
  padding: 0;
  .sidebar {
    padding: 20px 0 20px 30px;
    overflow-y: scroll;

    span {
      margin: 10px 0;
      font-weight: bold;
      font-size: $text-x-small;
      transition: 0.3s;
      &.currentGenre {
        color: $color--primary;
      }
      &:hover {
        cursor: pointer;
        color: $color--primary;
      }
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
  }
}
</style>
