<template>
  <div class="recos">
    <MovieBox v-if="movieId" :movieId="movieId" @closeBox="closeBox" />
    <h2>Ici ça recommande...</h2>
    <MovieCard v-for="movie in movies" :key="movie.id" :movie="movie" @openBox="openBox" />
    <h5 v-if="loader">
      Chargement
      <div></div>
    </h5>
    <div v-if="!loader" class="pagination">
      <ion-icon name="caret-back-outline" @click="page--, sort()"></ion-icon>
      <p>
        Page <b>{{ page }}</b> sur {{ totalPages }}
      </p>
      <ion-icon name="caret-forward-outline" @click="page++, sort()"></ion-icon>
    </div>
  </div>
</template>

<script lang="ts">
import MovieCard from '@/components/movies/MovieCard.vue';
import MovieBox from '@/components/movies/MovieBox.vue';

export default {
  name: 'RecommandationPage',
  components: {
    MovieCard,
    MovieBox,
  },
  data() {
    return {
      movies: [],
      page: 1,
      movieId: '',
      totalPages: 1,
      loader: false,
    };
  },
  methods: {
    async sort() {
      this.page < 1 ? (this.page = 1) : null;
      this.page > this.totalPages ? (this.page = this.totalPages) : null;
      const recos = await this.$movies.fetchRecos(this.page);
      this.movies = recos.results;
      this.totalPages = recos.total_pages;
    },
    openBox(movieId: string) {
      this.movieId = movieId;
    },
    closeBox() {
      this.movieId = null;
    },
  },
  async mounted(): Promise<void> {
    this.loader = true;
    await this.sort();
    this.loader = false;
  },
};
</script>
