<template>
  <div class="search">
    <div v-if="!movies.length">
      <p>Il n'y a pas de résultats pour votre recherche</p>
    </div>
    <div class="commetuveux" v-else>
      <MovieBox v-if="movieId" :movieId="movieId" @closeBox="closeBox" />
      <MovieCard v-for="oneMovie in movies" :key="oneMovie.id" :movie="oneMovie" @openBox="openBox" />
      <div class="pagination">
        <ion-icon name="caret-back-outline" @click="page--, sort()"></ion-icon>
        <p>
          Page <b>{{ page }}</b> sur {{ totalPages }}
        </p>
        <ion-icon name="caret-forward-outline" @click="page++, sort()"></ion-icon>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import MovieBox from '@/components/movies/MovieBox.vue';
import MovieCard from '@/components/movies/MovieCard.vue';

export default {
  name: 'SearchPage',
  components: {
    MovieCard,
    MovieBox,
  },
  data() {
    return {
      movieId: '',
      movies: [],
      page: 1,
      totalPages: 1,
    };
  },
  methods: {
    openBox(movieId: string) {
      this.movieId = movieId;
    },
    closeBox() {
      this.movieId = null;
    },
    async sort() {
      this.page < 1 ? (this.page = 1) : null;
      this.page > this.totalPages ? (this.page = this.totalPages) : null;
      const movies = await this.$movies.search({ page: this.page, research: this.$route.params.research });
      this.movies = movies.results;
      this.totalPages = movies.total_pages;
    },
  },
  async mounted(): Promise<void> {
    await this.sort();
  },
};
</script>

<style lang="scss" scoped>
.search {
  @extend .main-view;
  .commetuveux {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
  }
}
</style>
