<template>
  <div class="navbar">
    <img src="@/assets/images/logo_long.webp" alt="Doumpadoum logo" @click="$router.push({ name: 'Accueil' })" />
    <div class="navbar__links">
      <input
        v-if="isVisible"
        v-model="research"
        @keyup.enter="submit"
        ref="searchbar"
        name="search"
        placeholder="Search..." />
      <ion-icon name="search-outline" @click="isShow()"></ion-icon>
      <router-link v-for="category in categories" :key="category" :to="{ name: category }">{{ category }}</router-link>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'NavBar',
  data() {
    return {
      isVisible: false,
      research: '',
      categories: ['Accueil', 'Films', 'Recommandations', 'Personnalités', 'Favoris'],
    };
  },
  methods: {
    isShow() {
      this.isVisible = !this.isVisible;
    },
    submit() {
      this.$router.push({ name: 'Recherche', params: { research: this.research } });
      if (this.$route.name === 'Recherche') {
        location.reload();
      }
      this.research = '';
    },
  },
};
</script>

<style lang="scss" scoped>
.navbar {
  & {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 60px 0 55px;
    z-index: 10;
    background-color: $color--bg;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  }

  img {
    width: 10%;
    cursor: pointer;
  }

  ion-icon {
    font-size: $text-large;
    transform: translateY(5px);
    cursor: pointer;
  }

  input {
    padding: 6px;
    border: none;
    border-radius: 2px;
    margin-right: 30px;
    width: 235px;
    font-size: $text-smaller;
    outline-style: none;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px,
      rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  }

  a {
    margin: 0 0 0 30px;
    color: $color--content;
    text-decoration: none;
    font-weight: bold;
    font-size: $text-xx-small;
    transition: 0.3s;
    &.router-link-exact-active {
      color: $color--primary;
      &:hover {
        color: $color--primary;
      }
    }
    &:hover {
      color: $color--secondary;
    }
  }
}
</style>
